#form {
  padding: 0;
}
.formLine {
  padding: 0.5em;
}
.formLine > * {
  margin-right: 0.5em;
}
.formLine > :last-child {
  margin-right: 0;
}
.formLine:hover *,
.formLine:focus * {
  font-weight: bold;
}
#submitButton {
  font-family: Verdana, sans-serif;
  font-size: 2rem;
  display: flex;
  align-items: center;
  background-color: white;
  border: 3px solid hsl(39, 100%, 70%);
  border-radius: 1em;
}
#submitButton:hover,
#submitButton:focus {
  background-color: hsl(39, 100%, 70%);
  border: 3px solid hsl(39, 100%, 50%);
}
