#form {
  padding: 0;
}
.formLine {
  padding: 0.5em;
}
.formLine > * {
  margin-right: 0.5em;
}
.formLine > :last-child {
  margin-right: 0;
}
.formLine:hover *,
.formLine:focus * {
  font-weight: bold;
}
#submitButton {
  font-family: Verdana, sans-serif;
  font-size: 1rem;
}
