#timeEntryList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#exportButton {
  font-family: Verdana, sans-serif;
  font-size: 2rem;
  display: flex;
  align-items: center;
  background-color: white;
  border: 3px solid hsl(39, 100%, 70%);
  border-radius: 1em;
}
#exportButton:hover,
#exportButton:focus {
  background-color: hsl(39, 100%, 70%);
  border: 3px solid hsl(39, 100%, 50%);
}
