input,
select {
  font-family: Verdana, sans-serif;
  font-size: 1em;
}
label {
  font-family: Georgia, serif;
  font-size: 1em;
}
form {
  padding: 1em;
}
.formLine {
  padding: 0.5em;
}
.formLine > * {
  margin-right: 0.5em;
}
.formLine > :last-child {
  margin-right: 0;
}
.formLine:hover * {
  font-weight: bold;
}
