#timeentry {
  padding: 0.5em;
  border: 1px solid gray;
  margin: 1em 0;
  border-radius: 1em;
}
#category {
  font-weight: bold;
}
#description {
  font-style: italic;
}
#timeentry:hover {
  background-color: lightgray;
  border: 1px solid black;
}
#timeentry {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
