input,
select {
  font-family: Verdana, sans-serif;
  font-size: 1em;
}
label {
  font-family: Georgia, serif;
  font-size: 1em;
}
form {
  padding: 1em;
}
.formline {
  padding: 0.5em;
}
.formline > * {
  margin-right: 0.5em;
}
.formline > :last-child {
  margin-right: 0;
}
.formline:hover *,
.formline:focus * {
  font-weight: bold;
}
#timeentryform {
  padding: 0;
}
