#timeEntry {
  padding: 0.5em;
  margin: 1em 0;
  border-radius: 1em;
  border: 3px solid hsl(39, 100%, 70%);
  position: relative;
  background-color: white;
  display: block;
  width: 100%;
}
#timeEntryInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#timeEntry:hover,
#timeEntry:focus {
  background-color: hsl(39, 100%, 90%);
}
#timeEntry.editable:hover,
#timeEntry.editable:focus {
  background-color: hsl(39, 100%, 70%);
  border: 5px solid hsl(39, 100%, 50%);
  cursor: pointer;
}
#timeEntry.selected {
  background-color: hsl(39, 100%, 50%);
  border: 5px solid hsl(39, 100%, 50%);
}
#timeEntry.deletable:hover,
#timeEntry.deletable:focus {
  border: 5px solid gray;
  background-color: lightgray;
  cursor: pointer;
}
#timeEntry.deletable:hover .centerIcon,
#timeEntry.editable:hover .centerIcon,
#timeEntry.selected .centerIcon,
#timeEntry.deletable:focus .centerIcon,
#timeEntry.editable:focus .centerIcon {
  visibility: visible;
}
#timeEntry.deletable:hover #timeEntryInfo,
#timeEntry.deletable:focus #timeEntryInfo {
  opacity: 0.1;
}
#timeEntry .centerIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  display: flex;
  align-items: center;
  font-size: 2rem;
}
#timeEntry .centerIcon p {
  font-size: 0.8rem;
  margin-left: 0.5em;
}
#category {
  font-weight: bold;
}
#description {
  font-style: italic;
}
