#navBarEntry {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#navBarEntry.selected {
  background-color: hsl(39, 100%, 50%);
}

#navBarEntry:hover.notSelected {
  background-color: hsl(39, 100%, 70%);
}

#navBarIcon {
  margin-right: 0.5em;
}

#navBarEntry.notSelected h1 {
  display: none;
}

@media screen and (min-width: 900px) {
  #navBarEntry.notSelected h1 {
    display: block;
  }
}
